<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
	html, body {
		font-family: 'Roboto', sans-serif;
	}
	.card {
		color: #FFF; 
		width: 300px;
		height: 170px;
	
		border-radius: 10px; 
		padding: 5px;
		
		margin: 10px;
	}
	
	.center {
		text-align: center;
	}
	
	.card table {
		color: #FFF;
		margin-top: 40px; 
		text-align: center;
	}
	
	.neon {
		background-color: #00cae8; 
	}
	
	.inter {
		background-color: #ff7007;
	}
	
	.itau {
		background-color: #234086;
	}
</style>

Pagamentos

<table>
	<tbody>
		<tr>
			<td>
				<div class="card neon">
				
					<div class="center">
						Banco Neon
					</div>
					
					<table width="100%">
						<tbody>
							<tr>
								<th>Agência</th>
								<th>Conta</th>
							</tr>
							
							<tr>
								<td>0001</td>
								<td>182281-0</td>
							</tr>
						</tbody>
					</table>
				  
				</div>
			</td>
			
			<td>
				<div class="card inter">
				
					<div class="center">
						Banco Inter
					</div>
				  
					<table width="100%">
						<tbody>
							<tr>
								<th>Agência</th>
								<th>Conta</th>
							</tr>
							
							<tr>
								<td>0001</td>
								<td>884614-6</td>
							</tr>
						</tbody>
					</table>
				  
				</div>
			</td>
			
			<td>
				<div class="card itau">
				
					<div class="center">
						Banco Itaú
					</div>
					
					<table width="100%">
						<tbody>
							<tr>
								<th>Agência</th>
								<th>Conta</th>
							</tr>
							
							<tr>
								<td>6557</td>
								<td>12674-2</td>
							</tr>
						</tbody>
					</table>
				  
				</div>
			</td>
			
		</tr>
	</tbody>
</table>