<div class="container project-list">
  <div class="user-details">
    <h3> All projects </h3>
  </div>
  
  <div class="row user-projects">
  
    <div class="six columns">
      <img alt="mountains" width="200" src="{{ "/assets/img/ytmdesktop.png" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns">
      <h5> YouTube Music Desktop </h5>
      <ul>
        <li> Electron, Materialize CSS </li>
      </ul>
      <p> YouTube Music desktop application, no open browser required, and support for Keyboard Media Shortcuts. </p>
      <a class="project-link" target="_blank" href="https://ytmdesktop.app">See more</a>
    </div>
	
  </div>
  
  <div class="row user-projects">
  
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/cryptobar.jpg" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns">
      <h5> CryptoBar </h5>
      <ul>
        <li> Angular 4, Electron </li>
      </ul>
      <p> A discrete bar that tracks the market values of virtual currencies. </p>
      <a class="project-link" target="_blank" href="http://adlerluiz.com/CryptoBar">See more</a>
    </div>
	
  </div>
  
  <!--div class="row user-projects">
  
    <div class="six columns">
      <img alt="mountains" width="200" src="{{ "/assets/img/correios-track.png" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns">
      <h5> Track Correios </h5>
      <ul>
        <li> Angular 5, Materialize CSS </li>
      </ul>
      <p> Track de objetos dos correios com um visual simples e bonito. </p>
      <a class="project-link" target="_blank" href="http://adlerluiz.tech/correios">Confira</a>
    </div>
	
  </div>
  
  <div class="row user-projects">
  
    <div class="six columns images">
      <img alt="PIPS" src="{{ "/assets/img/pips.jpg" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns contents">
      <h5> PIPS - Sobradinho </h5>
      <ul>
        <li> Ionic 2, Angular 2, Laravel </li>
      </ul>
      <p> Aplicativo para Primeira Igreja Presbiteriana em Sobradinho (PIPS - Sobradinho).</p>
      <p> O aplicativo consta com um painel de avisos, calendário de eventos, posts estilo blog com opção de curtir, etc...</p>
      <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=br.com.igreja.pips">Confira</a>
    </div>
	
  </div-->
  
</div>