<div class="container">
  <div class="user-details">
    <h3> Últimos Projetos </h3>
  </div>
  
  <div class="row user-projects">
  
    <div class="six columns">
      <img alt="mountains" width="200" src="{{ "/assets/img/ytmdesktop.png" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns">
      <h5> YouTube Music Desktop App </h5>
      <ul>
        <li> Electron, Materialize CSS </li>
      </ul>
      <p> Aplicativo YouTube Music para área de trabalho, sem precisar de navegador aberto e com suporte a Atalhos de mídia do teclado</p>
      <a class="project-link" target="_blank" href="https://ytmdesktop.app">Confira</a>
    </div>
	
  </div>
  
  <div class="row user-projects">
  
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/cryptobar.jpg" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns">
      <h5> CryptoBar </h5>
      <ul>
        <li> Angular 4, Electron </li>
      </ul>
      <p> Uma barra discreta que acompanha os valores de mercado das moedas virtuais. </p>
      <a class="project-link" target="_blank" href="http://adlerluiz.com/CryptoBar">Confira</a>
    </div>
	
  </div>
  
  <div class="row user-projects">
  
    <div class="six columns">
      <img alt="mountains" width="200" src="{{ "/assets/img/correios-track.png" | prepend: site.baseurl }}" />
    </div>
	
    <div class="six columns">
      <h5> Track Correios </h5>
      <ul>
        <li> Angular 5, Materialize CSS </li>
      </ul>
      <p> Track de objetos dos correios com um visual simples e bonito. </p>
      <a class="project-link" target="_blank" href="http://adlerluiz.tech/correios">Confira</a>
    </div>
	
  </div>
  
  <center><a class="project-link" href="/projects">Todos os Projetos</a></center>
  
</div>